.inline{
  background-position: center;
  background-color: #ffffff;
  height:240px;
  width:240 ;
}
.nav{
  background-position:center;
}
.container{
  background-position: center;

}
.pull-left{
  font-family: cursive;
  font-style: normal;
  width: 43;
  height: 23;
  font-size: 12px;
  line-height: 12px;
  padding-top: 3px;
  padding-right: 2px;
  padding-left: 1px;
  }
