body{
  background-color: 	#ffffff	;
}
 h1, h2, h3{
  font-family: 'Roboto', sans-serif;
  color: #660066;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #000066;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  padding: 0px 0px 0px 5px;
}

.root {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.result-group:hover{
  background-color: #660066;
  color: white;
}

.result-group:hover > p{
  color: white;
}


.selectividad{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid grey;
}

.input-group {
  border: 1px solid grey;
  border-radius: 2px;
  padding: 2px 5px 2px 5px;
  margin-top: 5px;
}

.input-group > input {
 padding: 5px;
 font-size: 16;
 border: 1px solid grey;
 border-radius: 2px;
}

.container{
  display: flex;
  justify-content: space-around;
  position:static;
}

.columna {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5%;
}
