body{
  background-color: 	#ffffff	;
}
 h1, h2, h3{
  font-family: 'Roboto', sans-serif;
  color: #660066;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #000066;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  padding: 0px 0px 0px 5px;
}

.root {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.result-group:hover{
  background-color: #660066;
  color: white;
}

.result-group:hover > p{
  color: white;
}


.selectividad{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid grey;
}

.input-group {
  border: 1px solid grey;
  border-radius: 2px;
  padding: 2px 5px 2px 5px;
  margin-top: 5px;
  position: relative;
  height: 60px;
}

.input-group > input {
 padding: 5px;
 font-size: 16;
 border: 1px solid grey;
 border-radius: 2px;
 outline: none;
}

.input-group > input:focus {
 outline: none;
}

.input-group > input.error{
  border-color: red;
}

.input-group > input.valid{
  border-color: green;
}

.container{
  display: flex;
  justify-content: space-around;
  position:static;
}

.columna {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5%;
  padding-top:3px;
}


.error-mes{
  color: red;
  position: absolute;
  bottom: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  right: 10px;
}
.new{
  color:#660066;
  position: absolute;
  right: unset;
  height:auto;
  font-family: Roboto ,sans-serif;
  margin-top: 223;
  margin-left: 155;

}
.block{
  border:1px 4px 6px 4px;
  border color: black;
}
